<<<<<<< HEAD
.list {
=======
.list{
>>>>>>> refactoring_after_review
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}