.item-spread{
  width: 70%;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(121, 153, 121);
}

.item-block{
  display: flex;
  flex-direction: row;
  height: 100%;
}

.item-block-image-container{
  width: 70%;
  height: 100%;
  // overflow: hidden;
  display: flex;
}

.item-block-image-item{
  background: green;
  // flex: 0 0 19.7%;
  text-align: center;
  margin: 0 2px;
  transition: transform 300ms ease 100ms;
  width: 680px;
  height: 600px;
}
// .item-block-image-container:hover .item-block-image-item {
//   transform: translateX(-25%);
// }
// .item-block-image-item:hover ~ .item-block-image-item {
//   transform: translateX(25%);
// }

.item-block-info{
  width: 30%;
  background: rgb(54, 61, 54);

}
.item-block-image{
  bottom: 34px;
  right: 0;
  width: inherit;
  height: 100%;
  border: 3px solid #73AD21;
}

.left{
  position: absolute;
  color: red;
  z-index: 234;
  top: 38%;
  right: 93%;
}

.right{
  position: absolute;
  color: red;
  z-index: 234;
  right: 35%;
  top: 38%;
}