.App {
  text-align: center;
}

.main{
  width: 80%;
  margin: auto;
}
.main-title{
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.main-section{
  background: rgb(78, 78, 78);
  height: 100vh;
}